<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My welcome page</title>
</head>
<body>

<h1>First impression of my page</h1>

<!--/*@thymesVar id="variable" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${variable}"></span>

<br>
<!--/*@thymesVar id="one" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<!--/*@thymesVar id="three" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<!--/*@thymesVar id="four" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<!--/*@thymesVar id="five" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<!--/*@thymesVar id="six" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<!--/*@thymesVar id="seven" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<!--/*@thymesVar id="eight" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<!--/*@thymesVar id="nine" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<!--/*@thymesVar id="zero" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<!--/*@thymesVar id="plus" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<!--/*@thymesVar id="minus" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<!--/*@thymesVar id="multiply" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<!--/*@thymesVar id="sum" type="com.crud.tasks.controller.StaticWebPageController"*/-->

<span th:text="${two}"></span>
<span th:text="${multiply}"></span>
<span th:text="${two}"></span>
<span th:text="${sum}"></span>
<span th:text="${two}*${two}"></span>
<br>
<span th:text="${two}"></span>
<span th:text="${multiply}"></span>
<span th:text="${two}"></span>
<span th:text="${plus}"></span>
<span th:text="${two}"></span>
<span th:text="${sum}"></span>
<span th:text="${two}*${two}+${two}"></span>
<br>
<span th:text="${two}"></span>
<span th:text="${minus}"></span>
<span th:text="${two}"></span>
<span th:text="${multiply}"></span>
<span th:text="${two}"></span>
<span th:text="${sum}"></span>
<span th:text="${two}-${two}*${two}"></span>

</body>
</html>